<div class="show">
    <% if flash[:notice] %>
        <%= notice %>
    <% end %>

    <p class="book-title">
        Title:<%= @book.title %>
    </p>

    <p class="book-body">
        Body:<%= @book.body %>
    </p>
</div>


<%= link_to "Edit", edit_book_path(@book) %>
<%= link_to "Back", books_path %>